<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="../static/articles.css">
    <title></title>
</head>

<body>
    <header>

        <nav>
            <h3 class="anime">JESUS HERNANDEZ</h3>

            <ul id="main-nav">
                <li class="drop-down"><a href="/">Home</a></li>
                <li class="drop-down"><a href="#">Taxes</a>
                    <ul class="sub-nav">
                        <li><a href="/resicopf" >Resico para Personas Fisicas</a></li>
                        <li><a href="" target="_blank">Xoon</a></li>
                        <li><a href="" target="_blank">Xoon</a></li>
                        <li><a href="">Xoon</a></li>
                        <li><a href="" target="_blank">Xoon</a></li>
                    </ul>
                </li>
                <li class="drop-down"><a href="#">Business Analysis</a>
                    <ul class="sub-nav">
                        <li><a href="" target="_blank">Xoon</a></li>
                        <li><a href="" target="_blank">Xoon</a></li>
                        <li><a href="" target="_blank">Xoon</a></li>
                        <li><a href="">Xoon</a></li>
                        <li><a href="" target="_blank">Xoon</a></li>
                    </ul>
                </li>
                <li class="drop-down"><a href="#">Data Science</a>
                    <ul class="sub-nav">
                        <li><a href="" target="_blank">Xoon</a></li>
                        <li><a href="" target="_blank">Xoon</a></li>
                        <li><a href="" target="_blank">Xoon</a></li>
                        <li><a href="">Xoon</a></li>
                        <li><a href="" target="_blank">Xoon</a></li>
                    </ul>
                </li>
                <li class="drop-down"><a href="#"">Software Development</a>
                    <ul class="sub-nav">
                        <li><a href="calcisresicopf">Calculadora ISR Resico PF</a></li>
                        <li><a href="calcvtactivofijo" target="_blank">Calculadora Venta de Activo Fijo</a></li>
                        <li><a href="" target="_blank">Xoon</a></li>
                        <li><a href="">Xoon</a></li>
                        <li><a href="" target="_blank">Xoon</a></li>
                    </ul>
                </li>
            </ul>
            <div id="burger">☰</div>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}


    </main>
</body>

</html>