<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/articles.css">
    <title></title>
</head>

<body>
    <header>
        <nav>
            <h3 id="anime">JESUS HERNANDEZ</h3>
            <ul id="main-nav">
                <li class="drop-down"><a href="/">Home</a></li>
                <li class="drop-down"><a href="#">Taxes</a>
                    <ul class="sub-nav">
                        <li><a href="/resicopf">Resico para Personas Fisicas</a></li>
                    </ul>
                </li>
                <li class="drop-down"><a href="#">Business Analysis</a></li>
                <li class="drop-down"><a href="#">Data Science</a></li>
                <li class="drop-down"><a href="#">Software Applications</a>
                    <ul class=" sub-nav">
                        <li><a href="/calcisresicopf">Calculadora ISR Resico PF</a></li>
                        <li><a href="/facalculator">Calculadora Venta de Activo Fijo</a></li>

                    </ul>
                </li>

            </ul>

        </nav>
        
        <details id="nav-mobile">
            <h5><a href="/">HOME</a></h5>
            <summary id="burger">☰</summary>
            <details class="link-to">
                <summary>Taxes</summary>

                <div class="articles">
                    <h5><a href="/resicopf">Resico para Personas Fisicas</a></h5>
                </div>
            </details>

            <details class="link-to">

                <summary>Business Analysis</summary>

                <div class="articles">
                    <h5>Reserved</h5>
                </div>

                
            </details>

            <details class="link-to">

                <summary>Data Science</summary>

                <div class="articles">
                    <h5>Reserved</h5>
                </div>

                
            </details>

            <details class="link-to">

                <summary>Software Development</summary>

                <div class="articles">
                    <h5><a href=" calcisresicopf">Calculadora ISR Resico PF</a></h5>
                </div>

                <div class="articles">
                    <h5><a href="facalculator">Calculadora Venta de Activo Fijo</a></h5>
                </div>

            </details>
        </details>
    </header>
    <main>
        {% block content %}
        {% endblock %}


    </main>
    <script src="../static/scripts/script.js"></script>
</body>

</html>