<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>RESICO Personas Fisicas</title>
</head>

<body>
    <header>

        <nav>
            <h3 class="anime">JESUS HERNANDEZ</h3>

            <ul id="main-nav">
                <li class="drop-down"><a href="#">Taxes</a></li>
                <li class="drop-down"><a href="#">Business Analysis</a>
                    <ul class="sub-nav">
                        <li><a href="" target="_blank">Xoon</a></li>
                        <li><a href="" target="_blank">Xoon</a></li>
                        <li><a href="" target="_blank">Xoon</a></li>
                        <li><a href="">Xoon</a></li>
                        <li><a href="" target="_blank">Xoon</a></li>
                    </ul>
                </li>
                <li class="drop-down"><a href="#">Data Science</a></li>
                <li class="drop-down"><a href="#"">Software Development</a></li>
            </ul>
            <div id="burger">☰</div>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}


    </main>
</body>

</html>