#seccion-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 5rem auto;
}
.about{
    width: 100%;
    margin: auto;
}
.about::first-letter{
    font-size: large;
}

#about-foto{
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: bold;
}
#about-foto::first-letter{
    font-size: large;
}
#foto-perfil{
    width: 20%;
    float: left;
    padding-right: 1rem;
    border-radius: 10px;
    
}

#gif{
    width: 100%;
}
.technologies{
    border: none;
}
.technologies td{
    border: none;
    border-bottom: 1px solid green;
}

#about{
    width: 100%;
    text-align: left;
}

@media only screen and (max-width:575px){
    #seccion-about{
        width: 90%;
    }
}